@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofadi+One&display=swap');

/* Variaveis */

:root{
    --bg-primary: #0A0A0A;
    --bg-secondary: #1C1C1C;
    --text-primary: #FFFFFF;
    --text-secondary: #B0B0B0;
    --border-color: #333333;
    --highlight: #003366;
    --hover-color: #0055A4;
    --detail-color: #FFD700;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-primary);
}
::-webkit-scrollbar-thumb{
    background-color: var(--highlight);
    opacity: 0.5;
    transition: 1s ease;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--hover-color);
    transition: 1s ease;
}
/* Animations */

@keyframes fadeIn{
    from{
        box-shadow: 0px 5px 0px 5px rgb(0, 51, 102, 1);
    }
    to{
        box-shadow: 5px 0px 5px 0px rgb(0, 51, 102, 1);
    }
}

@keyframes go_back {
    from{
        transform: translateX(-50px);
    }to{
        transform: translateX(50px);
    }
}

@keyframes gira_gira {
    to{
        box-shadow: 0px 0px 0px 0px var(--highlight);
    }from{
        box-shadow: 0px 0px 5px 5px var(--highlight);
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    40% {
        width: 38%;
    }

    60% {
        width: 38%;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border: none;
    }
}

/* TAGS  */

*{
    color: var(--text-secondary);
    padding: 0;
    margin: 0;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /* border: 1px solid red; */  
}

body{
    display: flex;
    height: auto;
    flex-direction: column;
}

header{
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-primary);
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 1s ease, border 0.6s ease;
    /* border-bottom: #003366 2px solid; */

    img{
        animation: go_back alternate infinite ease 5s;
        opacity: 0.8;
    }
}

footer{
    height: 75px;
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* IDS */

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-right: 50px;
    overflow: hidden;

    p{
        display: inline-block;
        position: relative;
        color: var(--primary-color);
        cursor: pointer;
        transition: color 0.7s ease;
    }

    p:hover{
        color: var(--hover-color);
    }

    p::after{
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        transition: width 0.7s ease;
        position: absolute;
        background-color: var(--hover-color);
        content: "";
    }

    p:hover::after{
        width: 60%;
        opacity: 0.7;
    }
}

#trocador{
    span{
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top;
        color: var(--hover-color) !important;
        border-right: 3px solid #B0B0B0;
        animation: typing 5s steps(30, end) infinite, blink 0.6s step-end infinite;
        width: 0;
    }
}

#container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 100%;
    background-color: var(--bg-primary);

    #content1{
        display: none !important;
        display: flex;
        width: 30%;
        height: 90%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        h1{
            color: var(--text-primary);
            white-space: nowrap;
            overflow: hidden;
        }

        #foto{
            height: 400px;
            width: 400px;
            border-radius: 40%;
            background-image: url(static/images/fot.jfif);
            background-position: top;
            background-size: cover;
            animation: fadeIn infinite 2s ease alternate;
            box-shadow: 0px 0px 10px 10px var(--primary-color);
            transition: 1s ease all;
        }
    
        #foto:hover{
            transform: scale(1.1);
            box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.5);
            animation: none !important;
            border-radius: 0.5rem;
        }

        #text_foto{
            margin-bottom: 50px;
        }
    }



    iframe{
        width: 90%;
        height: 90%;
    }
}

#container2{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
    width: 100%;
    background-color: var(--bg-secondary);
    align-items: center;
    border-bottom: 2px solid red;
}

#container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 700px;
    width: 100%;
    background-color: var(--bg-secondary);
    align-items: center;
}

#container4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 700px;
    width: 100%;
    background-color: var(--bg-primary);
    align-items: center;
}

#conteiner5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 700px;
    width: 100%;
    background-color: var(--bg-primary);
    align-items: center;
}

#container-icons{
    display: flex;
    flex-direction: row;

    #git{
        background-image: url(static/icons/github-icon.png);
        background-size: cover;
        transition: 0.6s ease;
    }
    #git:hover{
        transform: scale(1.1);
        background-image: url(static/icons/github-hover.png) !important;
    }
    #lin{
        background-image: url(static/icons/linkedin-icon.png);
        background-size: cover;
        transition: 0.6s ease;
    }
    #lin:hover{
        transform: scale(1.1);
        background-image: url(static/icons/linkedin-hover.png) !important;
    }
    #insta{
        background-image: url(static/icons/instagram-icon.png);
        background-size: cover;
        transition: 0.6s ease;
    }
    #insta:hover{
        transform: scale(1.1);
        background-image: url(static/icons/instagram-hover.png) !important;
    }
}


/* CLASSES */

.icon{
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}


.change-navbar{
    height: 130px;
    border-bottom: 1px solid var(--border-color);
}

.title{
    color: var(--text-primary);
    border: 1px solid red;
    font-size: 35px;
}

.content-itens{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 225px);
    gap: 55px;
}

.project{
    width: 375px;
    height: 225px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    transition: all 0.6s ease-in-out;

    .images-project{
        border-bottom: var(--bg-primary) 2px solid;
        height: 70%;
    }
    
    .desc-project{
        height: 30%;
        background-color: var(--border-color);
        border: var(--bg-primary) 3px solid;
        border-radius:  0px  0px 10px 10px;
    }
}

.content-itens:hover .project{
    opacity: 0.7;
}

.project:hover{
    scale: 1.1;
    opacity: 1 !important;
}
/* Medias */